<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home page</h1>

    <!-- what ever inside <%= %> will be treated as javascript -->
    <p>
      <%= 1 + 4 + 5 %> Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Possimus explicabo deserunt, ipsam quos laudantium sed pariatur atque sint
      rem vitae nesciunt minus doloribus, aliquid assumenda repellendus
      laboriosam officia cumque? Sequi.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem,
      debitis?
    </p>
  </body>
</html>
